body{
    background-color: lightcyan;
}
.paragrafo{
    color: rgb(170, 6, 6);
    text-transform: capitalize;
}
#titulo{
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
}
#titulo+p{
    text-align: right;
}
a{
    text-decoration: line-through;
}


/* parte 2*/
img{
    width: 150px; height: 200px;
}
ul{
    border-style: solid;
    border-color: pink;
    color: indigo;
}
ol {
    border-style: dotted;
    border-color: pink;
    color: indigo;
}